html {
  font-size: 10px;
  /* background: url("./drum-kit-assets/background.jpg") bottom center; */
  background: linear-gradient(130deg, hsla(25, 100%, 55%, 0.562), #af002d 41.07%, #ee8f6f 76.05%);
  background-size: cover no-repeat;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
  cursor: pointer;
}

.playing {
  transform: scale(1.1);
  border-color: hsla(119, 88%, 56%, 0.891);
  box-shadow: 0 0 1rem hsla(119, 88%, 56%, 0.891);
}

.kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: hsla(119, 88%, 56%, 0.891);
  display: block;
}
